<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Add album</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<form sec:authorize="hasAnyAuthority('ADMIN', 'USER')" th:action="@{/logout}" method="post">
	<input class="btn btn-outline-primary" style="float: right; margin-right: 60px; margin-top: 10px" type="submit" value="Sign Out"/>
	</form>
	<div sec:authorize="!hasAnyAuthority('ADMIN', 'USER')" style="float: right; margin-right: 60px; margin-top: 10px;">
		<a class="btn btn-outline-primary" href="/login">Sign in</a>
	</div>
	<br>
	<div style="text-align: center">
		<h1 style="margin-bottom: 20px">Add an album to database</h1>
		<div>
			<form th:object="${album}" th:action="@{save_album}" action="#" method="post">
		  	<label for="name">Title</label>
			<input type="text" id="title" th:field="*{title}" />
			 <div class="alert alert-warning" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="name">Year</label>
			<input type="text" id="releaseYear" th:field="*{releaseYear}" />
			 <div class="alert alert-warning" th:if="${#fields.hasErrors('releaseYear')}" th:errors="*{releaseYear}"></div>
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="artistlist">Artist</label>
				<select id="artistlist" th:field="*{artist}">
					<option th:each="artist: ${artists}" th:value="${artist.artistId}" th:text="${artist.name}"></option>
				</select><br>
			<label for="recordlabellist">Record label</label>
				<select id="recordlabellist" th:field="*{recordLabel}">
					<option th:each="recordlabel: ${recordlabels}" th:value="${recordlabel.recordLabelId}" th:text="${recordlabel.name}"></option>
				</select><br>
			<input class="btn btn-success" type="submit" value="Save"></input>
			</form>
			<div style="margin-top: 10px">
				<h5>Can't find your artist or record label? Add a new one here:</h5>
				<a class="btn btn-success" href="/add_artist">Add new artist</a>
				<a class="btn btn-success" href="/add_recordlabel">Add new record label</a>
			</div>
		</div>
					
	</div>
</body>
</html>