<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Artist album list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />    
</head>
<body>
	<form sec:authorize="hasAnyAuthority('ADMIN', 'USER')" th:action="@{/logout}" method="post">
	<input class="btn btn-outline-primary" style="float: right; margin-right: 60px; margin-top: 10px" type="submit" value="Sign Out"/>
	</form>
	<div sec:authorize="!hasAnyAuthority('ADMIN', 'USER')" style="float: right; margin-right: 60px; margin-top: 10px;">
		<a class="btn btn-outline-primary" href="/login">Sign in</a>
	</div>
	<br>
	<th:block th:each = "artist : ${artist}">
		<h1 style="margin: 20px; text-align: center" th:text="'Albums for ' + ${artist.name}"></h1>
	</th:block>
	<div style="margin-left: 50px; margin-right: 50px">
		<table class="table table-striped">
			<tr>
				<th>Album name</th>
				<th>Track list</th>
	
			</tr>
	    	<th:block th:each = "artist : ${artist}">		
	    	 	<tr th:each="album : ${artist.albums}">
					<td th:text="${album.title}"></td>
					<td><a class="btn btn-outline-success" th:href="@{/album_tracks/{id} (id=${album.albumId})}">Show</a></td>
				</tr>
	           
	
	    	</th:block>
	     </table>
     </div>
     <div style="text-align:center">
     <a style="margin-bottom: 20px; text-align: center" class="btn btn-success" href="/artist_list">Go back</a>
     </div>
</body>
</html>