<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error occurred</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />    
</head>
<body>
	<div style="text-align: center; margin: 5%">
		<h2>Oh f*ck!</h2>
		<img src="/img/errorimage.jpeg">
		<h3>Maybe you tried to add an artist that already exists in the database?</h3>
		<h3>Whatever the case may be, an error occurred handling your request</h3>
		<h4>Save yourself and navigate back to the front page <a href="/">HERE</a></h4>
	</div>
</body>
</html>